@page "/"

<PageTitle>Pool</PageTitle>

@using hosted_pool.Data
@inject PoolService PoolService
@inject AuthenticationStateProvider aspService

<EditForm EditContext="@EditContext">
    <DataAnnotationsValidator />

    @if (_pool == null)
    {
        <p><em>Loading</em></p>
    }
    else if (!state.User.Identity.IsAuthenticated)
    {
        <p><em>@_pool.welcomeStr</em></p>
        <p><em>Please log in to view the bracket</em></p>
    }
    else
    {
        <p><em>@_pool.welcomeStr</em></p>
        <p><em>Please make your picks below and choose submit!</em></p>
        var rounds = _pool.rounds;
            <label><b>Pick set name:</b> </label>
        <input @bind="@_pool.pickSet" placeholder="Your Name" /><br />
        <button type="button" onclick="@shipit">ship it!</button><br />
        @foreach (var r in rounds)
        {
            <b>@r.name</b>
            <table class="table">
                <thead>
                    <tr>
                        <th>game</th>
                        <th>confidence</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var g in r.games)
                    {
                        @foreach (var w in g.possibleWinners)
                        {
                            var text = $"{w.name}";
                            <tr>
                                <td>@text</td>
                                <td>
                                    <select @bind="@w.confidencePickStr">
                                        <option value="Select" selected disabled="disabled">Confidence</option>
                                        @for (var c = 1; c <= g.possibleWinners.Count(); c++)
                                        {
                                            <option value="@c">@c</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                        }
                        <tr style="background-color: #ddd"><td colspan="2"> </td></tr>
                    }

                </tbody>
            </table>
        }
        <table class="table">
            @foreach (var t in _pool.tiebreakers)
            {
                <tr>
                    <td>@t.name</td>
                    <td>@t.question</td>
                    <td><input @bind="@t.answer" /></td>
                </tr>
            }
        </table>
        <button type="button" onclick="@shipit">ship it!</button>
    }

</EditForm>

    @code {
        private EditContext EditContext;
        private Pool? _pool;
        private AuthenticationState state;
        private int userIndex = -1;
        protected override async Task OnInitializedAsync()
        {
            state = await aspService.GetAuthenticationStateAsync();
            var user = state.User.ToString();
            if (state.User.Identity.IsAuthenticated)
            {
                _pool = await PoolService.Get(state.User.Identity.Name, out userIndex);
            }
            else
            {
                _pool = await PoolService.Get("", out userIndex);
            }
            EditContext = new EditContext(_pool);
            //EditContext.OnFieldChanged += EditContext_OnFieldChanged;

            await base.OnInitializedAsync();
        }

        private async void shipit()
        {

            PoolService.Put(_pool, state.User.Identity.Name, userIndex);
        }
   }
