@page "/"

<PageTitle>Pool</PageTitle>

@using hosted_pool.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc
@inject PoolService PoolService
@inject AuthenticationStateProvider aspService
@inject SignInManager<IdentityUser> SignInManager
<EditForm EditContext="@EditContext">
    <DataAnnotationsValidator />
    @((MarkupString)@_pool.welcomeStr)
    @if (_pool == null)
    {
        <p><em>Loading</em></p>
    }
    else if (!state.User.Identity.IsAuthenticated)
    {
        <p><em>Please log in to view the bracket</em></p>
    }
    else if (submited && _pool.IsComplete())
    {
        <p>Your picks have been submitted</p>
        <button type="button" onclick="@edit">Edit picks</button>
    }
    else
    {
        submited = false;


        var rounds = _pool.rounds;
        <label><b>Pick set name:</b> </label>
        <input @bind="@_pool.pickSet" placeholder="Your Name" /><br />

        @foreach (var r in rounds)
        {
            <b>@r.name</b>
            <table class="table">
                <thead>
                    <tr>
                        <th>game</th>
                        <th>confidence</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var g in r.games)
                    {
                        @foreach (var w in g.possibleWinners)
                        {
                            var text = $"{w.name}";
                            <tr>
                                <td>@text</td>
                                <td>
                                    <select @bind="@w.confidencePickStr">
                                        <option value="Select" selected disabled="disabled">Confidence</option>
                                        @for (var c = 1; c <= g.possibleWinners.Count(); c++)
                                        {
                                            <option value="@c">@c</option>
                                        }
                                    </select>
                                    @if (w.confidencePick == 0)
                                    {
                                        <label style="color: red">  ****</label>
                                    }
                                </td>
                            </tr>
                        }
                        <tr style="background-color: #ddd"><td colspan="2"> </td></tr>
                    }

                </tbody>
            </table>
        }
        <b>Tiebeakers</b>
        <table class="table">
            @foreach (var t in _pool.tiebreakers)
            {

                <tr>
                    <td colspan="2">@t.question</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input @bind="@t.answer" />
                        @if (t.answer == "")
                        {
                            <label style="color: red">****</label>
                        }
                    </td>
                </tr>

            }
        </table>
        <button type="button" onclick="@shipit"> submit</button><br />
        @if (!_pool.IsComplete())
        {
            <p><label style="color: red">Picks are incomplete!</label></p>
        }
    }

</EditForm>

@code {
    private EditContext EditContext;
    private Pool? _pool;
    private AuthenticationState state;
    private int userIndex = -1;
    public bool submited { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {
        state = await aspService.GetAuthenticationStateAsync();
       
        var user = state.User.ToString();
        if (state.User.Identity.IsAuthenticated)
        {
            _pool = await PoolService.Get(state.User.Identity.Name, out userIndex);
        }
        else
        {
            _pool = await PoolService.Get("", out userIndex);
        }
        EditContext = new EditContext(_pool);
        //EditContext.OnFieldChanged += EditContext_OnFieldChanged;

        await base.OnInitializedAsync();
    }

    private async void edit()
    {
        submited = false;
    }
    private async void shipit()
    {
        var s = state.User.Claims.ToList();
        PoolService.Put(_pool, state.User.Identity.Name, userIndex);
        submited = true;
    }


}